@charset "UTF-8";

body{
    background-color: rgb(133, 255, 153);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: brown;
}

h2{
    text-align: justify;
}